AdminGUI/make.out
AdminGUI/wwwroot/templates/
AdminGUI/scripts/basecode.d.ts
*.nupkg
RhetosPackages/Source/RhetosConceptsAndExtensions/bin/
RhetosPackages/Source/RhetosConceptsAndExtensions/obj/
make.out
*.suo
RhetosPackages/BasecodePlugins/RhetosConceptsAndExtensions.dll
RhetosPackages/Source/Angular2ModelGenerator/bin/*
RhetosPackages/Source/AdminGuiRhetosExtensions/bin/
RhetosPackages/Source/Angular2ModelGenerator/obj/
RhetosPackages/Source/AdminGuiRhetosExtensions/obj/
