<?xml version="1.0" encoding="utf-8"?>
<packages>

    <package id="Rhetos.CommonConcepts" />
    <package id="Rhetos.RestGenerator" />
	<package id="Rhetos.WindowsAuthImpersonation" />
	<package id="Rhetos.AdminGui" source = "..\..\" />
	<package id="Rhetos.AdminGuiCompile" source = "..\..\" />
  <!--
    Deploying legacy package file in .zip format from a folder:
    ===========================================================
    Set the package id and version to match the filename: id + "_" + version.Replace(".", "_") + ".zip"
    Add the 'source' attribute to use the specific source for the package instead the sources provided in {SourcesConfigurationFile}.
    
    Examples:
    <package id="CommonConcepts" version="0.9.12" source="..\OldPackages" />
  -->

</packages>
